/*
	Created by Tech_dog (ebontrop@gmail.com) on 29-Sep-2018 at 9:46:16a, UTC+7, Novosibirsk, Rodniki, Tulenina, Saturday;
	This is USB Drive Detective (bitsphereinc.com) desktop app 'All Devices To Multiple PCs' HTML analysis report style sheet.
	-----------------------------------------------------------------------------
	Adopted to Ebo Pack personal account report style on 31-Oct-2019 at 9:59:47p, UTC+7, Novosibirsk, Tulenina, Thursday;
*/

A:link     {color: #4799c8; background: transparent; text-decoration:none; }
A:visited  {color: #4799c8; background: transparent; text-decoration:none; }
A:active   {color: #4799c8; background: transparent; text-decoration:none; }

body {
    font               : 8.65pt 'Trebuchet MS', verdana, tahoma, arial;
    background-color   : #ffffff;
    color              : #111;
    margin-left        : 20px;
    margin-top         : 10px;
    margin-right       : 10px;
    margin-bottom      : 10px;
}

table {
    border-collapse    : collapse;
}

td, th {
    border             : 1px solid #aaa;
    padding            : 3px;
}

h1{
    font-family        :'Trebuchet MS', verdana, tahoma, arial;
    font-size          : 21px; 
    font-weight        : bold;
}

h2{
    font-family        :'Trebuchet MS', verdana, tahoma, arial;
    font-size          : 16px;
    font-weight        : bold;
    margin-bottom      :  5px;
}